.search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.search-bar {
  padding: 0.6rem 2rem 0.6rem 0.8rem; /* extra right padding for clear btn */
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  flex: 1;
}

/* Cross button inside input */
.clear-btn {
  position: absolute;
  right: 0rem;   
  border: none;
  font-size: 1.2rem;
  color: #888;
  padding: 0.43rem;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  cursor: pointer;
}

.clear-btn:hover {
  color: #333;
}